{% extends 'base.html.twig'  %}

{% block title %}
Accueil - SnowTricks
{% endblock %}

{% block body %}
<header style=" background-image: url({{ asset('images/banner.jpg') }});">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue sur le site communautaire de tricks pour Snowboarder!
            </div>
            <div class="intro-heading text-uppercase">A fond</br>les tricks</div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 10px;">
                <a class="btn btn-primary text-uppercase js-scroll-trigger float-right" href="#portfolio">
                    <img src="{{ asset('images/angle-double-down-solid.svg') }}" height="25px"></a>
            </div>
        </div>
    </div>
</header>

<section id="portfolio">
    <div class="container mt-4" id="up-top">
        <div class="row flex" id="trickList">
            {% for trick in tricks %}
            <div class="col-lg-3 col-sm-6 col-xs-12 trick">
                <div class="card card-home m-2 shadow bg-white rounded">
                    <a href="{{ path('trick_show', {trick: trick.id, category: trick.category})}} ">
                        {% if trick.nameDefaultPicture == 'NULL' %}
                        <img class="card-img-top" src="{{ asset('images/NoImageFound.png') }}" width="416px" height="200px">
                        {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/'~ trick.nameDefaultPicture) }}" alt=""
                            width="416px" height="200px">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h6 class="float-left">{{ trick.name }}</h6>
                        {% if is_granted('ROLE_USER') %}
                        <form method="POST" action="{{ path('trick_delete', {trick: trick.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce trick ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id )}}">
                            <button class="float-right" style="all: unset; cursor: pointer;"><img src="{{ asset('images/delete.svg') }}" height="16px"></button>
                        </form>
                        <a class="float-right mr-2" href="{{path('trick_edit', {id: trick.id}) }}">
                            <img src="{{ asset('images/edit.svg') }}" height="16px">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-3 mb-5">
            <a class="m-auto" id="loadMoreBTN">
                <button class="btn btn-primary">Voir plus</button>
            </a>
            <a id="btn-up" href="#up-top" class="btn btn-primary float-right js-scroll-trigger">
            <img src="{{ asset('images/angle-double-up-solid.svg') }}" height="25px">
            </a>
        </div>
    </div>
</section>

{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    click = 0;
    $("#btn-up").hide();

    function loadMore(event) {
        event.preventDefault();
        click++;
        let trick = 12 * click;
        const url = "{{ path('load_more_trick') }}" + trick;
        axios.get(url).then(function (response) {
            $("#trickList").append(response.data);
            if (trick === 12) {
                $("#btn-up").show();
            }
        }).catch(function (error) {
            if (error.response.status === 404) {
                window.alert("Erreur ! la page demander n'existe pas.");
            } else {
                window.alert("Alert une erreure c'est produite veuillez contacter le support !");
            }
        });
    }

    document.getElementById('loadMoreBTN').addEventListener('click', loadMore);
</script>
{% endblock %}