{% extends 'base.html.twig'  %}

{% block title %}
Créer un compte
{% endblock %}

{% block body %}
<div class="container mt-4">

    {% for message in app.flashes('success')%}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{ form_row(form.username) }}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{ form_row(form.password.first) }}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{ form_row(form.password.second) }}
        </div>
    </div>
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-4">
            <button class="btn btn-primary mt-4">S'enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}